/* Scrollbar Style */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Document Styling */
* {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 0;
    overflow: hidden;
}

.main {
    background-color: #000;
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    overflow: auto;
}

.sidebar {
    background-color: #000;
    width: 350px;
    border-radius: 1rem; /*16px*/
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    height: 100vh;
    border-radius: 1rem;
    overflow: auto;
}

a,i {
    text-decoration: none;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100px; */
    padding: 0.5rem 0.75rem;
}

.nav a {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
}

.nav a i {
    font-size: 1.4rem;
    flex-basis: 1.6rem;
}

.nav-option {
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
}

.nav-option a:hover {
    opacity: 1;
}

#home {
    opacity: 1;
}

.nav-option a {
    font-size: 1rem;
    opacity: 0.7;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    height: 100%;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    /* border-radius: 1rem; */
}

.lib-option img {
    margin-right: 1rem;
}

.lib-option a {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.lib-option a:hover {
    opacity: 1;
}

.lib-option {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
}

.lib-option-btn {
    display: flex;
}

.create-playlist {
    padding: 0.5rem 0;
    margin-right: 0.5rsem;
}

.show-more {
    padding: 0.5rem 0;
    margin-right: 0.5rem;
}

.create-playlist-btn, .show-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.create-playlist i, .show-more i {
    font-size: 1rem;
    opacity: 0.6;
    transition: all 0.3s ease-in;
}

.create-playlist-btn:hover, .show-more-btn:hover {
    background-color: #171717;
    cursor: pointer;
}

.create-playlist-btn:hover i, .show-more-btn:hover i {
    opacity: 1;
}

.lib-box {
    width: 100%;
}

.playlist-box {
    background-color: #242424;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0;
    padding: 1rem 1rem 0.5rem 1rem;
}

.playlist-box p {
    padding: 0.65rem 0;
}

.box-p1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.75rem;
    opacity: 0.9;
}

.badge {
    background-color: #fff;
    height: 2rem;
    width: fit-content;
    border: none;
    border-radius: 100px;
    color: #000;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
}

.pod-box {
    background-color: #242424;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 1.75rem 0 0 0;
    padding: 1rem 1.25rem 0.5rem 1.25rem;
}

.pod-box p {
    padding: 0.65rem 0;
}

.badge:hover, .user-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.sticky-nav {
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 2;
}

.sticky-nav-options {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dark-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    color: white;
    background-color: #000;
}

.dark-badge i {
    font-size: 0.8rem;
}

.sticky-nav-icons {
    cursor: none;
}

.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

#greeting {
    margin-top: 0;
}

.albums {
    padding: 0 1.5rem;
}

.albums h2 {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

.top-grid-card {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, 4rem); */
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-gap: 0.5rem;
}

.grid-card-entities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.grid-card {
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
}

.grid-card:hover {
    background-color: #353535;
}

.grid-card-img {
    height: 5rem;
    width: 5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.grid-card-title {
    align-self: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.grid-card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21cd5c;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    align-self: center;
    opacity: 0;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    margin: 1rem;
}

.grid-card-btn i {
    color: black;
}

.grid-card:hover .grid-card-btn {
    opacity: 1;
}

.grid-card:hover .grid-card-btn:hover {
    background-color: #1fdf64;
    transform: scale(1.1);
}

.cards-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background-color: #242424;
    width: 150px;
    height: 235px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    transition: all 0.25s ease-in-out;
}

.card:hover {
    background-color: #353535;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.card-title {
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.card-info {
    font-size: 0.8rem;
    opacity: 0.7;
}

.card-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21cd5c;
    border: none;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    position: absolute;
    top: 7.6rem;
    left: 7.6rem;
    opacity: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.card-btn i {
    color: #000;
}

.card:hover .card-btn {
    opacity: 1;
}

.card:hover .card-btn:hover {
    background-color: #1fdf64;
    transform: scale(1.1);
}

.footer {
    height: 25rem;
    padding: 0 1.5rem;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #fff;
    opacity: 0.1;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.25rem 0;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.footer-links div a {
    font-size: 0.7rem;
    color: #fff;
    margin-right: 1rem;
    opacity: 0.5;
}

.copyright {
    font-size: 0.7rem;
    color: #fff;
    opacity: 0.5;
}

.footer-links div a:hover {
    opacity: 1;
}

.music-player {
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    gap: 0.5rem;
    /* justify-content: space-between; */
    align-items: center;
}

.song-album {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    width: 25%;
}

.song-album img {
    width: 100%;
    height: 3.5rem;
    border-radius: 0.35rem;
}

.song-album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75rem;
    margin: 0.5rem 0.8rem 0.5rem 0.8rem;
}

.song-album-title {
    font-size: 0.88rem;
    font-weight: 600;
}

.song-album-artist {
    font-size: 0.75rem;
    opacity: 0.6;
    margin-top: 0.2rem;
}

.song-album-title:hover {
    text-decoration: solid underline white 2px;
}

.song-album-artist:hover {
    text-decoration: solid underline white 2px;
    opacity: 1;
}

.like-btn {
    background-image: url("./assets/heart-regular.png");
    background-size: 100% 100%;
    height: 1rem;
    width: 1rem;
}

.like-btn label {
    opacity: 0;
    cursor: pointer;
}

#like {
    display: none;
} 

#like:checked + .like-btn {
    background-image: url("./assets/heart-solid.png");
}

.player-controls {
    width: 50%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playback-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 1.5rem;
    width: 100%;
}

.playback-btn button {
    /* display: flex; */
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 1.25rem;
    padding: 0.7rem 0 0.5rem 0;
    opacity: 0.5;
}

.playback-btn button img {
    height: 1rem;
    width: 1rem;
}

#play-btn-btn {
    opacity: 1;
}

#play-btn-img {
    height: 2rem;
    width: 2rem;
}

.playback-btn button:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    width: 50%;
    justify-content: space-between;
    opacity: 0.5;
    margin-bottom: 0.5rem;
    height: 1rem;
}

.playback-bar div {
    font-size: 0.75rem;
}

.start-time {
    padding-left: 0.5rem;
    padding-right: 0.25rem;
}

.end-time {
    padding-left: 0.25rem;
    padding-right: 0.5rem;
}

.progress-bar {
    width: 80%;
    appearance: none;
    background-color: transparent;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
    cursor: initial;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -5px;
}

.controls {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.controls button {
    background-color: #000;
    border: none;
    opacity: 0.6;
    padding: 0 0.5rem;
}

.controls button img {
    width: 1.35rem;
}

.controls button:hover {
    opacity: 1;
}

.vol-control {
    display: flex;
    padding-right: 0; 
}

.vol-bar {
    width: 60%;
    appearance: none;
    background-color: transparent;
    opacity: 0.5;
}


.vol-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
    cursor: initial;
}

.vol-bar::-webkit-slider-thumb {
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -5px;
}
